.menu {
  width: 28px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 32px;
  top: 23px;
  .el-dropdown {
      width: 100%;
      height: 100%;
  }
  .el-button--primary {
      padding: 0;
      width:100%;
      height: 100%;
      border-radius: inherit;
      border:none;
      background: url('../../assets/images/home/menu.png') no-repeat;
      background-size: 100% 100%;
  }
}
.el-menu {
  border-right: 0;
  left: 24px;
}
.el-dropdown-menu {
  padding: 0;
  border: none;
  background: transparent;
}
.breadcrumb {
  position: absolute;
  height: 20px;
  top: 23px;
  left: 71px;
  .el-breadcrumb {
      line-height: 1.8;
      
  }
}
